html,
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  background-color: rgb(30, 30, 30);
}

#list-view {
  /* make list-view flexbox to align searchbar and mail list as rows */
  display: flex;
  flex-direction: column;
  border-right: solid 1px rgb(71, 71, 71);
  width: 40%;
  min-width: 400px;
}

#new-mail-filter-bar {
  display: flex;
  height: 38px;
  margin: 10px;
}

#new-mail-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 79px;
  background-color: rgb(38, 38, 38);
  border: 1px solid rgb(71, 71, 71);
  border-radius: 7px;
}
#new-mail-button:hover {
  background-color: rgb(42, 42, 42);
}

#new-mail-button-icon {
  width: 22px;
  margin: 5px 8px;
}

#new-mail-button-text {
  margin: 0;
  user-select: none;
}

#mail-searchbar {
  display: flex;
  align-items: center;
  position: relative;
  cursor: text;
  border: solid 1px rgb(71, 71, 71);
  border-radius: 9px;
  height: 40px;
  margin: 0px 10px 5px 10px;
}
#mail-searchbar:focus-within {
  border-color: rgb(116, 116, 116);
  box-shadow: 0 0 0 0.25rem rgba(71, 71, 71, 0.251);
}

#mail-searchbar-icon {
  align-self: stretch;
  width: 28px;
  margin: 0px 4px 0px 5px;
}
#mail-searchbar-icon > path {
  fill: rgb(116, 116, 116);
}

#search-text {
  margin: 0;
  color: rgb(116, 116, 116);
}

#mail-searchbar-input {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  margin: 0;
  padding: 0;
}
#mail-searchbar-input::placeholder {
  color: rgb(116, 116, 116);
}
#mail-searchbar-input:focus {
  box-shadow: none;
}
#mail-searchbar-input::-webkit-search-cancel-button {
  appearance: none;
  display: none;
}

#maillist {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
}

.maillist-mail {
  height: 105px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(38, 38, 38);
  border: 1px solid rgb(71, 71, 71);
  user-select: none;
  transition: transform 100ms ease;
}
.maillist-mail:active {
  transform: scale(0.98);
}
.maillist-mail:hover {
  background-color: #303030;
  outline: 1px solid #575757;
}
.maillist-mail h5.card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.maillist-mail p.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* wrap for 2 lines */
  -webkit-line-clamp: 2;
  line-clamp: 2;
  /* then '...' on text overflow */
  overflow: hidden;
  text-overflow: ellipsis;
}

.maillist-mail-body {
  padding: 12px 14px;
}

#detail-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  /* set minimum width to 0, so a scollbar is added for just the detail view
  when the window gets too small */
  min-width: 0;
}

#detail-view-mail-body {
  flex: 1;
  /* add scrollbar */
  overflow: auto;
}

#new-mail-popup {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  left: 20px;
  bottom: 20px;
  right: 20px;
  height: 40vh;
  border-radius: 20px;
  background-color: rgb(38, 38, 38);
  transition: transform 80ms ease, height 80ms ease;
}
#new-mail-popup.closed {
  transform: translateY(calc(100% + 20px));
}
#new-mail-popup.minimized {
  height: 51px;
}

#new-mail-popup-topbar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 8px 8px 0px 8px;
  transition: transform 100ms ease;
}

#new-mail-popup-to-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  height: 35px;
  margin-right: 2px;
}
#new-mail-popup-to-row > svg {
  max-width: 100%;
  max-height: 100%;
  padding: 5px 0px;
  cursor: pointer;
}
#new-mail-popup-to-row > svg#new-mail-popup-maximize-icon {
  padding-left: 2px;
}
#new-mail-popup-to-row > p {
  font-size: 18px;
}
#new-mail-popup-to-row > p:hover, #new-mail-popup-to-row > svg:hover > path {
  fill: white;
  color: white;
}

#new-mail-popup-to {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}
#new-mail-popup-to:focus {
  border-color: rgb(116, 116, 116);
  box-shadow: 0 0 0 0.25rem rgba(71, 71, 71, 0.251);
}

#new-mail-popup-add-cc {
  margin: 0;
  padding: 0px 2px;
  cursor: pointer;
  user-select: none;
}

#new-mail-popup-cc,
#new-mail-popup-bcc,
#new-mail-popup-subject {
  width: auto;
  height: 35px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}
#new-mail-popup-cc:focus,
#new-mail-popup-bcc:focus,
#new-mail-popup-subject:focus {
  border-color: rgb(116, 116, 116);
  box-shadow: 0 0 0 0.25rem rgba(71, 71, 71, 0.251);
}

#new-mail-popup-cc-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  height: 35px;
  margin-right: 2px;
}

#new-mail-popup-cc,
#new-mail-popup-bcc {
  width: 100%;
  height: 35px;
}

#new-mail-popup-add-bcc {
  font-size: 18px;
  margin: 0;
  cursor: pointer;
}

#new-mail-popup-body {
  flex: 1;
  padding: 12px 14px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  outline: none;
  resize: none;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(116, 116, 116);
  cursor: default;
}

.hidden {
  display: none !important;
}

.scale-click {
  transition: transform 50ms ease;
  user-select: none;
  cursor: pointer;
}

.scale-click:active {
  transform: scale(0.9);
}

/*# sourceMappingURL=main.css.map */
